<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout :: frgHead">
</head>
<body>
<div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
<header th:replace="layout :: frgHeader"></header>
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p th:text="${title}"></p>
            <h2>Registrarse</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Bienvenido a MUSICLAND</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form th:action="@{/usuario/save}" th:object="${usuario}" method="post"enctype="multipart/form-data"
					id="fileUploadForm">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre de Usuario</label>
                                    								
                                    <input type="text" class="form-control" th:field="*{nombre}">
                                                                      
                                </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Contrase&ntilde;a</label>
                                    								
                                    <input type="text" class="form-control" th:field="*{password}">
                                                                      
                                </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre Art&iacute;stico</label>
                                    								
                                    <input type="text" class="form-control" th:field="*{artista.nombreArtistico}">
                                                                      
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">N&uacute;mero Telef&oacute;nico</label>
                                    								
                                    <input type="text" class="form-control" th:field="*{artista.numeroTelefonico}">
                                                                      
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Imagen</label>
                                    								
                                    <label for="file" > 
							<input type="file" name="file" /> 
							</label>
                                                                      
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">G&eacute;nero</label>
                                    								
                                    
                                      <select class="form-control" th:field="*{artista.genero.idGenero}">
								<option value=0>- Seleccione -</option>
								<option th:each="ar: ${generos}" th:value="${ar.idGenero}"
									th:text="${ar.nombre}"></option>
							</select>                                
                                </div>
                                
                                <button type="submit" class="btn oneMusic-btn mt-30"> <i class="fa fa-check" ></i> &nbsp;Guardar </button>
                                 <button type="reset"  class="btn oneMusic-btn mt-30"><i class="fa fa-times"></i> &nbsp;Cancelar</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->
 <footer th:replace="layout :: frgFooter"></footer>
 <div th:replace="layout :: frgScripts"> </div>
</body>
</html>