<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout :: frgHead">
</head>
<body>
<div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
<header th:replace="layout :: frgHeader"></header>
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p th:text="${title}"></p>
            <h2>Registrarse</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Bienvenido a MUSICLAND</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form th:action="@{/usuario/save}" th:object="${usuario}" method="post"enctype="multipart/form-data"
					id="fileUploadForm">
                                <div class="form-group ">
                                <label for="exampleInputEmail1">Nombre de Usuario</label>
                                	<div class="row d-flex align-items-center">
                                     <div class="col-1">
									<i class="fa fa-user fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <input type="text" class="form-control" th:field="*{nombre}">
                                    <small class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>	
                                    </div> 
                                    </div>
                                                                     
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Contrase&ntilde;a</label>
                                    <div class="row d-flex align-items-center">
                                     <div class="col-1">
									<i class="fa fa-lock fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <input type="password" class="form-control" th:field="*{password}">
                                    <small class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>	
                                    </div> 
                                    </div>			
                                    
                                    </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre Art&iacute;stico</label>
                                    <div class="row d-flex align-items-center">
                                     <div class="col-1">
									<i class="fa fa-font fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <input type="text" class="form-control" th:field="*{artista.nombreArtistico}">
                                    <small class="invalid-feedback" th:if="${#fields.hasErrors('artista.nombreArtistico')}" th:errors="*{artista.nombreArtistico}"></small>	
                                    </div> 
                                    </div>			
                                    
                                    </div>
                                                                      
                                
                                <div class="form-group">
                                    <label for="exampleInputEmail1">N&uacute;mero Telef&oacute;nico</label>
                                    <div class="row d-flex align-items-center">	
                                    <div class="col-1">
									<i class="fa fa-phone fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <input type="text" class="form-control" th:field="*{artista.numeroTelefonico}">
                                    <small class="invalid-feedback" th:if="${#fields.hasErrors('artista.numeroTelefonico')}" th:errors="*{artista.numeroTelefonico}"></small>	
                                    </div> 						
                                    
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Correo</label>
                                    <div class="row d-flex align-items-center">	
                                    <div class="col-1">
									<i class="fa fa-envelope-o fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <input type="text" class="form-control" th:field="*{artista.correo}">
                                    <small class="invalid-feedback" th:if="${#fields.hasErrors('artista.correo')}" th:errors="*{artista.correo}"></small>	
                                    </div>						
                                    
                                     </div>                                 
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Precio</label>
                                    <div class="row d-flex align-items-center">
                                    <div class="col-1">
									<i class="fa fa-usd fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <input type="text" class="form-control" th:field="*{artista.costo}">
                                    <small class="invalid-feedback" th:if="${#fields.hasErrors('artista.costo')}" th:errors="*{artista.costo}"></small>	
                                    </div>		
                                    
                                    </div>                             
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Video Presentaci&oacute;n</label>
									<div class="row d-flex align-items-center">
									<div class="col-1">
									<i class="fa fa-video-camera fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <input type="url" class="form-control" th:field="*{artista.video}">
                                    <small class="invalid-feedback" th:if="${#fields.hasErrors('artista.video')}" th:errors="*{artista.video}"></small>	
                                    </div>
                                    
                                      </div>                                
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Direcci&oacute;n Facebook</label>
									<div class="row d-flex align-items-center">
									<div class="col-1">
									<i class="fa fa-facebook fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <input type="url" class="form-control" th:field="*{artista.linkFacebook}">
                                    </div>
                                    
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Direcci&oacute;n Instagram</label>
									<div class="row d-flex align-items-center">
									<div class="col-1">
									<i class="fa fa-instagram fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <input type="url" class="form-control" th:field="*{artista.linkInstagram}">
                                    </div>
                                    
                                    
                                    </div>                                  
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Direcci&oacute;n Twitter</label>
									<div class="row d-flex align-items-center">
									<div class="col-1">
									<i class="fa fa-twitter fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <input type="url" class="form-control" th:field="*{artista.linkTwitter}">
                                    </div>
                                    
                                     </div>                                
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Imagen</label>
                                    <div class="row d-flex align-items-center">	
                                    <div class="col-1">
									<i class="fa fa-camera fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <label for="file" > 
										<input type="file" name="file" /> 
										</label>
                                    </div>							
	                                    
									</div>
                                                                      
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">G&eacute;nero</label>
                                    <div class="row d-flex align-items-center">
                                    <div class="col-1">
									<i class="fa fa-music fa-2x"></i>
									</div>
									<div class="col-11">								
                                    <select class="form-control" th:field="*{artista.genero.idGenero}">
											<option value=0>- Seleccione -</option>
											<option th:each="ar: ${generos}" th:value="${ar.idGenero}"
												th:text="${ar.nombre}"></option>
										</select> 
                                    </div>               
                                        
									</div>                             
                                </div>
                                
                                <button type="submit" class="btn oneMusic-btn mt-30"> <i class="fa fa-check" ></i> &nbsp;Guardar </button>
                                <button th:href="@{/}"  class="btn oneMusic-btn mt-30"><i class="fa fa-times"></i> &nbsp;Cancelar</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->
 <footer th:replace="layout :: frgFooter"></footer>
 <div th:replace="layout :: frgScripts"> </div>
</body>
</html>