<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout :: frgHead">
</head>
<body>
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="lds-ellipsis">
			<div></div>

		</div>
	</div>
	<header th:replace="layout :: frgHeader"></header>
	<section class="breadcumb-area bg-img bg-overlay"
		style="background-image: url(/img/bg-img/breadcumb3.jpg);">
		<div class="bradcumbContent">
			<h2>Integrantes</h2>
		</div>
	</section>
	<section class="contact-area mt-100">


		<div class="container">

			<!-- FORMULARIO CARD  -->
			<div class="card">
				<div class="card-body">
					<form id="frmParticipante" class="contact-form-area ml-3 mr-3"
						th:object="${integrante}" th:action="@{/integrante/save}"
						method="post" enctype="multipart/form-data">

						<div class="row">

							<h4>AGREGAR NUEVO INTEGRANTE</h4>
						</div>


						<table class="table table-bordered table-hover"
							id="tablaIntegrantes">
							<tr>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Instrumento</th>
								<th>Foto</th>
							</tr>

							<tr>
								<td><input type="text" class="form-control"
									placeholder="Nombre" th:field="*{nombre}" required></td>
								<td><input type="text" class="form-control"
									placeholder="Apellido" th:field="*{apellido}" required></td>
								<td><select th:field="*{instrumento}" class="form-control"
									required>
										<option th:each="i : ${instrumentos}"
											th:value="${i.idInstrumento}" th:text="${i.nombre}" />
								</select></td>
								<td><input type="file" class="form-control" name="file"
									id="file" required></td>
							</tr>
						</table>
						<button type="submit" class="btn oneMusic-btn mt-30">
							<i class="fa fa-check"></i> &nbsp;Agregar
						</button>
					</form>
				</div>
			</div>


			<!-- Lista integrante -->

			<table class="table table-hover">
				<thead class="bg-light">
					<tr>
						<th><i class="fa fa-user"></i></th>
						<th><i class="fa fa-music"></i></th>
						<th><i class="fa fa-picture-o"></i></th>
						<th><h6>Eliminar </h6></i></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="i : ${integrantes}">
						<td th:text="${i}"></td>
						<td th:text="${i.instrumento}"></td>
						<td><img th:src="@{/uploads/} + ${i.foto}" width="80"
							height="80" class="rounded-circle" /></td>

						<td>
							<button  th:onclick="'eliminar('+${i.idPersona}+')'"
								class="btn btn-xs  btn-4 btn-secondary">
								<i class="fa fa-trash"></i>
								
							</button>
						</td>

					</tr>
				</tbody>
			</table>

		</div>

	</section>


	<br>
	<br>
	<br>
	<br>



	<!-- ##### Login Area End ##### -->
	<footer th:replace="layout :: frgFooter"></footer>
	<div th:replace="layout :: frgScripts"></div>
	<script th:src="@{/js/integrante/delete-integrante.js}"></script>
</body>
</html>

